// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.app_home{
    
    height: 100%;
    
    .home_content{
        padding: 2rem 2rem  0 1rem;
        height: 100%;
        width: auto;

        a{
            color: white;
            text-decoration: none;
        }
    }

    .content_titel{
        font-size: 4.1rem;
        font-family: "poppins-regular";
        line-height: 7rem;
        letter-spacing: 1.3rem;

        margin-top: -1.9rem;
        margin-left: -0.3rem;
    
    }

    .content_subject{
        width: 100%;
        overflow-y: hidden;

    }

    .content_subject::-webkit-scrollbar {
        display: none;
    }

    .content_button-menu{
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 2;
    }

    .button_menu-icon{
        height: 2rem;
        width: 2rem;
        background-image: url('/assets/icons/burger_menu.svg');
        display: inline-block;
        background-repeat: no-repeat;
    }
}


