
.app_details{


      
    [class^="subject_blog"]{
        position: relative;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        border: 0.01rem solid #FFFFFF;
        backdrop-filter: blur(2px);
        padding: 1rem 0 1rem 1rem;
        font-family: 'poppins-regular';

        h1{
            height: 100%;
            width: 100%;
            font-family: 'poppins-medium';
            font-size: 2.3125rem;
            text-align: justify;
            letter-spacing: 0.07em;
            font-weight: 500;
            line-height: 56px;
            overflow: hidden;
            
        }

        p{
            height: calc(100% - 2rem);
            width: calc(100% + 0.2rem);
            text-align: justify;
            overflow-y: auto;
            line-height: 27px;
            letter-spacing: 0.07em;
            overflow-y: auto;
            padding-right: 1rem;
        }

        p::-webkit-scrollbar {
            width: 0.3rem;
            background-color: transparent;
        
        }

        p::-webkit-scrollbar-thumb {
            border-radius: 100rem;
            background-color: #FFFFFF;
        }

        [class$="_actions"]{
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            height: 1rem;
        }
    
        .actions_edit{
            display: inline-block;
            background-image: url('/assets/icons/edit.svg');
            height: 1rem;
            width: 1rem;
            background-repeat: no-repeat;
            margin-right: 0.5rem;
    
        }
    
        .actions_delete{
            display: inline-block;
            background-image: url('/assets/icons/delete.svg');
            height: 1rem;
            width: 0.8rem;
            background-repeat: no-repeat;
    
        }
    }

    
}
