// Side bar flex layout

[class$="side-bar"]{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.side-bar_exit{
    align-self: flex-end;
}


// Contact flex layout

.app_contact{
    .subject_icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
