.app_menu, .app_about{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr calc(0.618fr - 0.06545fr);
}

.menu_content{
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
}